@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ecommerce_website_simple.ViewModels.OrderSummary
@model OrderSummary
<div class="text-center">
    <h2 class="display-4" >Thank You for shopping with Us !</h2>
    <h5 class="display-4" style="font-size:2rem !important">We have emailed your invoice to @Model.Email !</h5>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Purchase Details</div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Fullname :</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.Fullname</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Email :</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.Email</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Address :</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.Address.AddressDescription, @Model.Address.State ,@Model.Address.Country   </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Payment type:</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.PaymentType</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Number of products:</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.CartItems.Count</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Sub Total :</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.SubTotal.ToString("C2")</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Tax :</label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.Tax</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="email_address" class="col-md-6 col-form-label text-md-right">Total amount: </label>
                        <div class="col-md-6">
                            <label class="col-form-label">@Model.Total.ToString("C2")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Products
                </div>
                <div>
                    <ul class="list-group shadow">
                    @foreach (var Item in Model.CartItems)
                    {
                    <li class="list-group-item">

                        <div class="media align-items-lg-center flex-column flex-lg-row">
                            <img src="@Item.Product.ProductImgURL" alt="Generic placeholder image" width="250" height="200" class="order-1 order-lg-1">

                            <div class="media-body order-2 order-lg-2 ml-lg-5">
                                <h5 class="mt-0 mb-1">@Item.Product.ProductName</h5>
                                <h6 class="mt-2 mb-2"> Quantity:  @Item.Quantity</h6>
                                <span class="product_price price-new">@Item.Product.ProductPrice USD </span>
                                <hr class="mb-2 mt-1 seperator">
                            </div>

                        </div>
                    </li>
                    }
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>