@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";var counter = 0;
}


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData[" CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h2 class="m-0 font-weight-bold text-primary">Products</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="height: 200px;">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td> @Html.Raw(item.Description)</td>
                            <td>  @item.ProductPrice.ToString("C2")</td>
                            <td>  @item.StockQuantity</td>
                            <td>  <img style="width:50px;" src="@item.ProductImgURL" /></td>

                        </tr>
                        counter++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>